<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.dao.PositionMapper">
	<resultMap id="BaseResultMap" type="com.system.model.Position">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="company" property="company" jdbcType="INTEGER" />
		<result column="isdel" property="isdel" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, company, isdel, create_time, create_by, update_time, update_by
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sys_position
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectPositionList" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sys_position
		where isdel=0 and company = #{companyId,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from sys_position
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.system.model.Position">
		insert into sys_position (id, name, company,
		isdel, create_time, create_by,
		update_time, update_by)
		values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
		#{company,jdbcType=INTEGER},
		#{isdel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.system.model.Position">
		insert into sys_position
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="company != null">
				company,
			</if>
			<if test="isdel != null">
				isdel,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="company != null">
				#{company,jdbcType=INTEGER},
			</if>
			<if test="isdel != null">
				#{isdel,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.system.model.Position">
		update sys_position
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="company != null">
				company = #{company,jdbcType=INTEGER},
			</if>
			<if test="isdel != null">
				isdel = #{isdel,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.system.model.Position">
		update sys_position
		set name = #{name,jdbcType=VARCHAR},
		company = #{company,jdbcType=INTEGER},
		isdel = #{isdel,jdbcType=INTEGER},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		create_by = #{createBy,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		update_by = #{updateBy,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>