<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.api.dao.GoodMapper" >
  <resultMap id="BaseResultMap" type="com.api.model.Good" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="goodno" property="goodno" jdbcType="VARCHAR" />
    <result column="coverImg" property="coverimg" jdbcType="VARCHAR" />
    <result column="images" property="images" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="parameter" property="parameter" jdbcType="VARCHAR" />
    <result column="service" property="service" jdbcType="VARCHAR" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="categoryId" property="categoryid" jdbcType="BIGINT" />
    <result column="isNew" property="isnew" jdbcType="INTEGER" />
    <result column="isRecommend" property="isrecommend" jdbcType="INTEGER" />
    <result column="isSelected" property="isselected" jdbcType="INTEGER" />
    <result column="isdel" property="isdel" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, goodno,coverImg, images, detail, parameter, service, stock, categoryId, isNew,
    isRecommend, isSelected, isdel, cid, create_by, create_time, update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_good
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectGoodListByCategory" resultType="java.util.HashMap" parameterType="java.lang.Long">
    SELECT
    id AS gid,
	`name`,
	IFNULL(coverImg,"") AS thumb
    FROM
        sys_good
    WHERE
        isdel = 0
    AND categoryId = #{categoryid,jdbcType=BIGINT}
  </select>

  <select id="selectGoodsList" resultType="java.util.HashMap" parameterType="java.util.HashMap">
    SELECT IFNULL(g.id,"") as id,IFNULL(g.name,"") as name,IFNULL(g.coverImg,"") as coverImg,IFNULL(g.coverImg,"") as coverImg,IFNULL(s.`name`,"") as spec,IFNULL(s.price,"") as price
    FROM sys_good g LEFT JOIN sys_spec s on g.id = s.gid WHERE g.cid = 1 and g.isdel = 0 and s.isdel = 0 and s.`order` = 1
    <if test="isnew != null" >
      AND isNew = #{isnew,jdbcType=INTEGER}
    </if>
    <if test="isrecommend != null" >
      AND isRecommend = #{isrecommend,jdbcType=INTEGER}
    </if>
    <if test="isselected != null" >
      AND isSelected = #{isselected,jdbcType=INTEGER}
    </if>
  </select>

  <select id="selectGoodInfo" resultType="java.util.HashMap" parameterType="java.lang.Long">
     SELECT
      g.id AS id,
      g.`name` AS title,
      g.stock,
      IFNULL(g.detail,"") AS detail,
      IFNULL(g.parameter,"") AS  parameter,
      IFNULL(g.service,"") AS service,
	  IFNULL(g.images,"") AS images
      FROM
          sys_good g
      WHERE
			g.isdel = 0
      AND g.id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_good
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.api.model.Good" >
    insert into sys_good (id, name, goodno,coverImg,
      images, detail, parameter, 
      service, stock, categoryId, 
      isNew, isRecommend, isSelected, 
      isdel, cid, create_by, 
      create_time, update_by, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},  #{goodno,jdbcType=VARCHAR},#{coverimg,jdbcType=VARCHAR},
      #{images,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{parameter,jdbcType=VARCHAR}, 
      #{service,jdbcType=VARCHAR}, #{stock,jdbcType=INTEGER}, #{categoryid,jdbcType=BIGINT}, 
      #{isnew,jdbcType=INTEGER}, #{isrecommend,jdbcType=INTEGER}, #{isselected,jdbcType=INTEGER}, 
      #{isdel,jdbcType=INTEGER}, #{cid,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.api.model.Good" useGeneratedKeys="true" keyProperty="id">
    insert into sys_good
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="goodno != null" >
        goodno,
      </if>
      <if test="coverimg != null" >
        coverImg,
      </if>
      <if test="images != null" >
        images,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="parameter != null" >
        parameter,
      </if>
      <if test="service != null" >
        service,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="categoryid != null" >
        categoryId,
      </if>
      <if test="isnew != null" >
        isNew,
      </if>
      <if test="isrecommend != null" >
        isRecommend,
      </if>
      <if test="isselected != null" >
        isSelected,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="goodno != null" >
        #{goodno,jdbcType=VARCHAR},
      </if>
      <if test="coverimg != null" >
        #{coverimg,jdbcType=VARCHAR},
      </if>
      <if test="images != null" >
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="parameter != null" >
        #{parameter,jdbcType=VARCHAR},
      </if>
      <if test="service != null" >
        #{service,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="categoryid != null" >
        #{categoryid,jdbcType=BIGINT},
      </if>
      <if test="isnew != null" >
        #{isnew,jdbcType=INTEGER},
      </if>
      <if test="isrecommend != null" >
        #{isrecommend,jdbcType=INTEGER},
      </if>
      <if test="isselected != null" >
        #{isselected,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.api.model.Good" >
    update sys_good
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="goodno != null" >
        goodno = #{goodno,jdbcType=VARCHAR},
      </if>
      <if test="coverimg != null" >
        coverImg = #{coverimg,jdbcType=VARCHAR},
      </if>
      <if test="images != null" >
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="parameter != null" >
        parameter = #{parameter,jdbcType=VARCHAR},
      </if>
      <if test="service != null" >
        service = #{service,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="categoryid != null" >
        categoryId = #{categoryid,jdbcType=BIGINT},
      </if>
      <if test="isnew != null" >
        isNew = #{isnew,jdbcType=INTEGER},
      </if>
      <if test="isrecommend != null" >
        isRecommend = #{isrecommend,jdbcType=INTEGER},
      </if>
      <if test="isselected != null" >
        isSelected = #{isselected,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.api.model.Good" >
    update sys_good
    set name = #{name,jdbcType=VARCHAR},
      goodno = #{goodno,jdbcType=VARCHAR},
      coverImg = #{coverimg,jdbcType=VARCHAR},
      images = #{images,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      parameter = #{parameter,jdbcType=VARCHAR},
      service = #{service,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=INTEGER},
      categoryId = #{categoryid,jdbcType=BIGINT},
      isNew = #{isnew,jdbcType=INTEGER},
      isRecommend = #{isrecommend,jdbcType=INTEGER},
      isSelected = #{isselected,jdbcType=INTEGER},
      isdel = #{isdel,jdbcType=INTEGER},
      cid = #{cid,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectGoodListByCID" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    SELECT
    g.id,
    g.name,
    IFNULL(g.goodno,"") as goodno,
    IFNULL(g.coverImg,"") as coverImg,
    c.`name` as categoryName
    FROM
    sys_good g INNER JOIN sys_category c on g.categoryId = c.id
    WHERE
    g.isdel = 0
    AND c.isdel = 0
    AND g.cid = #{cid,jdbcType=VARCHAR}
    <if test="search != null" >
      AND c.`name` LIKE CONCAT(CONCAT('%', #{search}), '%')
    </if>
    <if test="categoryId != null" >
      AND g.categoryId = #{categoryId,jdbcType=VARCHAR}
    </if>
    <if test="start != null and num != null" >
      limit #{start,jdbcType=INTEGER},#{num,jdbcType=INTEGER}
    </if>
  </select>


  <select id="selectCountGoodList" parameterType="java.util.HashMap" resultType="java.lang.Integer">
    SELECT
    count(1)
    FROM
    sys_good g INNER JOIN sys_category c on g.categoryId = c.id
    WHERE
    g.isdel = 0
    AND c.isdel = 0
    AND g.cid = #{cid,jdbcType=VARCHAR}
    <if test="search != null" >
      AND c.`name` LIKE CONCAT(CONCAT('%', #{search}), '%')
    </if>
    <if test="categoryId != null" >
      AND g.categoryId = #{categoryId,jdbcType=VARCHAR}
    </if>
    <if test="start != null and num != null" >
      limit #{start,jdbcType=INTEGER},#{num,jdbcType=INTEGER}
    </if>
  </select>
</mapper>